@{
    ViewData["Title"] = "Home Page";
}

<style>
    .btn-custom {
        background-color: white;
        color: black;
        border: 2px solid green;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-custom:hover {
            background-color: green;
            color: white;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido a SpendWisely</h1>
    <h5>Su lugar para llevar la cuenta de sus gastos e ingresos</h5>

    <div class="d-flex justify-content-center">
        <img src="https://github.com/PatricioPoncini/SpendWisely/assets/76538747/d7b70433-9375-46a1-b35c-fc345113497d" alt="Logo SpendWisely" class="img-fluid">
    </div>

    <div class="mt-4">
        <h4 class="text-center mt-5">Acciones más comunes</h4>
        <a href="@Url.Action("Create", "Expenses")" class="btn btn-custom">Registrar un gasto</a>
        <a href="@Url.Action("Create", "Incomes")" class="btn btn-custom mx-2">Registrar un ingreso</a>
    </div>
</div>